.text-center {
  text-align: center;
}
.top-image {
  text-align: center;
}

.top-image img {
  border-color: #e47878 o !important;
}
.top-hero {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8x);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.cotainer {
  text-align: center;
  margin: 0 auto;
}

h1,
h2 {
  color: rgb(255, 0, 0);
  margin: 0 auto;
}

h2 {
  color: rgb(255, 0, 0);
}
header > img {
  border: 10px dashed #ccc;
  transition: 1s;
}
header img:hover {
  border-color: rgb(255, 17, 0);
}
a {
  color: #000;
  transition: ease-in 1s;
}
a:hover {
  color: #fd0404;
}
.tags span {
  border: 1px solid #e47878;
  padding: 5px 10px;
  color: #e47878;
  border-radius: 8px;
  font-size: 0.04 rem;
}
.top-container {
  background: url("bg.jpg") no-repeat 50%;
  background-size: cover;
  padding: 40px 40px;
}

section {
  text-align: center;
  margin: 0 auto;
}

#footer {
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 28px;
}
body {
  font-family: Arial;
}
section {
  font-size: 23px;
}

#hobby {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cv-download-link {
  border: 2px solid rgb(255, 60, 0);
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  margin-top: 20px;
  border-radius: 26px;
  transition: background-color 0.5s, color 0.5s;
  box-shadow: 0 0 20px rgb(255, 60, 0);
}

.cv-download-link:hover {
  color: white;
  background-color: rgb(255, 60, 0);
}

.cv-download-link:focus {
  outline: none;
  color: white;
  background-color: rgb(255, 60, 0);
}
.cv-download-link:active {
  text-decoration: underline;
}

.hobby-container {


  margin: 0 auto;
}
#języki {
  padding-top: 10px;
  padding-bottom: 10px;

}
#umiejętności 
{

 padding-top: 10px;
padding-bottom: 10px;
}

#wykształcenie {

  padding-top: 10px;
  padding-bottom: 10px;

   
}

#doświadczenie {

  padding-top: 10px;
  padding-bottom: 10px;
}
#o-mnie {

  padding-top: 10px;
  padding-bottom: 10px;
}







